<div
  class="rounded-sm border border-stroke bg-white px-5 pb-2.5 pt-6 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"
>
  <h4 class="mb-6 text-xl font-bold text-black dark:text-white">
    Top Products
  </h4>

  <div class="flex flex-col">
    <div
      class="grid grid-cols-3 rounded-sm bg-gray-2 dark:bg-meta-4 sm:grid-cols-6"
    >
      <div class="p-2.5 xl:p-5">
        <h5 class="text-sm font-medium uppercase xsm:text-base">Product</h5>
      </div>
      <div class="p-2.5 text-center xl:p-5">
        <h5 class="text-sm font-medium uppercase xsm:text-base">Product Name</h5>
      </div>
      <div class="p-2.5 text-center xl:p-5">
        <h5 class="text-sm font-medium uppercase xsm:text-base">Brand</h5>
      </div>
      <div class="p-2.5 text-center xl:p-5">
        <h5 class="text-sm font-medium uppercase xsm:text-base">Revenues</h5>
      </div>
      <div class="hidden p-2.5 text-center sm:block xl:p-5">
        <h5 class="text-sm font-medium uppercase xsm:text-base">Sales</h5>
      </div>
      <div class="hidden p-2.5 text-center sm:block xl:p-5">
        <h5 class="text-sm font-medium uppercase xsm:text-base">Conversion</h5>
      </div>
    </div>
    <!-- Row 1 -->
    <div
      class="grid grid-cols-3 border-b border-stroke dark:border-strokedark sm:grid-cols-6"
    >
      <div class="flex items-center gap-3 p-2.5 xl:p-5">
        <div class="flex-shrink-0">
          <img src="./images/product/P-2.jpeg" alt="Brand" style="width: 80px; height: 100px;"/>
        </div>
      </div>

      <div class="flex items-center justify-center p-2.5 xl:p-5">
        <p class="font-medium text-black dark:text-white">Odel Light Green Striped Off Shoulder Smocked Dress</p>
      </div>

      <div class="flex items-center justify-center p-2.5 xl:p-5">
        <p class="font-medium text-meta-3">Odel</p>
      </div>

      <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
        <p class="font-medium text-black dark:text-white">Rs.59000.00</p>
      </div>

      <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
        <p class="font-medium text-meta-5">120</p>
      </div>

      <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
        <button class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
          View
        </button>
      </div>
    </div>
    
    <!-- Row 2 -->
    <div
    class="grid grid-cols-3 border-b border-stroke dark:border-strokedark sm:grid-cols-6"
  >
    <div class="flex items-center gap-3 p-2.5 xl:p-5">
      <div class="flex-shrink-0">
        <img src="./images/product/P-3.jpeg" alt="Brand" style="width: 80px; height: 100px;"/>
      </div>
    </div>

    <div class="flex items-center justify-center p-2.5 xl:p-5">
      <p class="font-medium text-black dark:text-white">Odel Purple Scallop Hem & Strap Detailed Mini Dress</p>
    </div>

    <div class="flex items-center justify-center p-2.5 xl:p-5">
      <p class="font-medium text-meta-3">Odel</p>
    </div>

    <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
      <p class="font-medium text-black dark:text-white">Rs.42690.00</p>
    </div>

    <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
      <p class="font-medium text-meta-5">90</p>
    </div>

    <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
      <button class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
        View
      </button>
    </div>
  </div>

    <!-- Row 3 -->
    <div
    class="grid grid-cols-3 border-b border-stroke dark:border-strokedark sm:grid-cols-6"
  >
    <div class="flex items-center gap-3 p-2.5 xl:p-5">
      <div class="flex-shrink-0">
        <img src="./images/product/P-4.jpeg" alt="Brand" style="width: 80px; height: 100px;"/>
      </div>
    </div>

    <div class="flex items-center justify-center p-2.5 xl:p-5">
      <p class="font-medium text-black dark:text-white">Odel Navy Cowl Neck Side Slit Maxi Dress</p>
    </div>

    <div class="flex items-center justify-center p-2.5 xl:p-5">
      <p class="font-medium text-meta-3">Odel</p>
    </div>

    <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
      <p class="font-medium text-black dark:text-white">Rs.33500.00</p>
    </div>

    <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
      <p class="font-medium text-meta-5">81</p>
    </div>

    <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
      <button class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
        View
      </button>
    </div>
  </div>

    <!-- Row 4 -->
    <div
    class="grid grid-cols-3 border-b border-stroke dark:border-strokedark sm:grid-cols-6"
  >
    <div class="flex items-center gap-3 p-2.5 xl:p-5">
      <div class="flex-shrink-0">
        <img src="./images/product/P-5.jpeg" alt="Brand" style="width: 80px; height: 100px;"/>
      </div>
    </div>

    <div class="flex items-center justify-center p-2.5 xl:p-5">
      <p class="font-medium text-black dark:text-white">Nike Basics White Short Sleeve Tshirt Dress</p>
    </div>

    <div class="flex items-center justify-center p-2.5 xl:p-5">
      <p class="font-medium text-meta-3">Nike</p>
    </div>

    <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
      <p class="font-medium text-black dark:text-white">Rs.28900.00</p>
    </div>

    <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
      <p class="font-medium text-meta-5">61</p>
    </div>

    <div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
      <button class="bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded">
        View
      </button>
    </div>
  </div>

  </div>
</div>
